<!-- start: REVOLUTION SLIDERS -->
<section class="fullwidthbanner-container">
  <div class="fullwidthabnner">
    <ul>
      <!-- start: FIRST SLIDE -->
      <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
	<%= image_tag 'static/sliders/slidebg2.png', { style: "background-color:rgb(246, 246, 246)", data: {bgfit: "cover", bgposition: "left bottom", bgrepeat: "no-repeat"} } %>
	````<div class="caption lft slide_title slide_item_left" data-x="0" data-y="105" data-speed="2500" data-start="100" data-easing="easeOutExpo">
	  #1 Trusted Source
	</div>
	<div class="caption lft slide_subtitle slide_item_left" data-x="0" data-y="180" data-speed="1500" data-start="1000" data-easing="easeOutExpo">
	  FOR AGENT TO AGENT REAL ESTATE EMAILS
 	</div>
	<div class="caption lft slide_desc slide_item_left" data-x="0" data-y="220" data-speed="400" data-start="2500" data-easing="easeOutExpo">
	  Put some wording here and more here too!
	  <br>
	  and more here too! and more and more and more
	</div>
	<a class="caption lfb btn btn-green btn-lg slide_item_righ" href="" data-x="0" data-y="320" data-speed="2000" data-start="3000" data-easing="easeOutExpo">
	  Start Now!
	</a>
	<div class="caption sfr" data-x="500" data-y="0" data-speed="3000" data-start="2000" data-easing="easeOutExpo"  >
	  <%= image_tag 'static/map-push-slider.png', alt: 'Man pointing to board' %>
	</div>
      </li>
      <!-- start: SECOND SLIDE -->
      <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
	<%= image_tag 'static/sliders/slidebg2.png', { style: "background-color:rgb(246, 246, 246)", data: {bgfit: "cover", bgposition: "left bottom", bgrepeat: "no-repeat"} } %>
	<div class="caption lft slide_title slide_item_left" data-x="0" data-y="105" data-speed="2000" data-start="100" data-easing="easeOutExpo">
	  Lowest Prices
	</div>
	<div class="caption lfl slide_subtitle slide_item_left" data-x="0" data-y="180" data-speed="2000" data-start="500" data-easing="easeOutExpo">
	  As low as $9.99
	</div>
	<div class="caption lfr slide_desc slide_item_left" data-x="0" data-y="220" data-speed="1000" data-start="2500" data-easing="easeOutExpo">
	  We offer the lowest prices in the industry! <br>
	  <br>
	</div>
	<a class="caption lfb btn btn-green btn-lg slide_item_left" href="" data-x="0" data-y="320" data-speed="400" data-start="3000" data-easing="easeOutExpo">
	  Start Now!
	</a>
	<div class="caption sfr" data-x="800" data-y="0" data-speed="3000" data-start="1300" data-easing="easeOutExpo">
	  <%= image_tag 'static/cutting-money.png', alt: 'Cutting Money' %>
	</div>
	<div class="caption lft" data-x="300" data-y="-35" data-speed="500" data-start="1600" data-easing="easeOutBack">
	  <%= image_tag 'static/lowest-price.png', alt: 'Lowest Price' %>
	</div>
      </li>
      <!-- start: THIRD SLIDE -->
      <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
	<!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
	<%= image_tag 'static/sliders/slidebg2.png', { style: "background-color:rgb(246, 246, 246)", data: {bgfit: "cover", bgposition: "left bottom", bgrepeat: "no-repeat"} } %>
	<div class="caption lft slide_title slide_item_left" data-x="0" data-y="105" data-speed="400" data-start="1500" data-easing="easeOutExpo">
	  Same Day Fullfilment
	</div>
	<div class="caption sft slide_subtitle slide_item_left" data-x="0" data-y="180" data-speed="400" data-start="2000" data-easing="easeOutExpo">
	  Your Email Listings Get Sent Out The Same Day!
	</div>
	<div class="caption sfr slide_desc slide_item_left" data-x="0" data-y="220" data-speed="400" data-start="2500" data-easing="easeOutExpo">
	  Put some wording here and more here too!
	  <br>
	  and more here too! and more and more and more
	</div>
	<a class="caption lfb btn btn-green btn-lg slide_item_left" href="" data-x="0" data-y="320" data-speed="400" data-start="3000" data-easing="easeOutExpo">
	  Start Now!
	</a>
	<div class="caption sfr" data-x="600" data-y="50" data-speed="500" data-start="1600" data-easing="easeOutBack">
	  <img src="" alt="">
	</div>
      </li>
      <!-- end: THIRD SLIDE -->
    </ul>
  </div>
</section>
<!-- end: REVOLUTION SLIDERS -->
