    <%= render partial: 'main_slider' %>
    <!-- end: HEADER -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
      <section>
	<!-- start: CORE BOXES CONTAINER -->
	<section class="wrapper" style='min-height:400px; background-image: url("<%= image_path('static/bg2.jpg')%>")' data-stellar-background-ratio="0.8" data-stellar-vertical-offset="-750">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12">
		<h2 class="center white"> </h2>
		<p class="center white">
		  
		</p>
	      </div>
	    </div>
	    <div class="row animate-group">
	      <div class="col-sm-4">
		<div class="icon-box animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'>
		  <i class="icon-box-icon fa  clip-wand"></i>
		  <h3 class="icon-box-title">Cutting Edge Technology</h3>
		  <div class="icon-box-content">
		  </div>
		</div>
	      </div>
	      <div class="col-sm-4">
		<div class="icon-box animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'>
		  <i class="icon-box-icon fa clip-transfer"></i>
		  <h3 class="icon-box-title">Same Day Fullfilment</h3>
		  <div class="icon-box-content">
		  </div>
		</div>
	      </div>
	      <div class="col-sm-4">
		<div class="icon-box animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'>
		  <i class="icon-box-icon fa clip-arrow-down-2"></i>
		  <h3 class="icon-box-title">Lowest Prices</h3>
		  <div class="icon-box-content">
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</section>
    </div>
    <!-- end: CORE BOXES CONTAINER -->
    </section>
    <section class="wrapper wrapper-grey padding50">
      <!-- start: WORKS CONTAINER -->
      <div class="container">
	<div class="row">
	  <div class="col-md-12">
	    <h2 class="center">FUCK ASSS CREATE A COCK ASS</h2>
	    <hr>
	    <p class="center">
	      Choose from one our professionally designed <strong>templates</strong>.
	      <br>
	    </p>
	    <div class="grid-container animate-group" data-animation-interval="100">
	      <div class="col-md-3 col-sm-6">
		<div class="grid-item animate">
		  <a href="#">
		    <div class="grid-image">
		      <%= image_tag 'static/image01.jpg', class: 'img-responsive' %>
		      <span class="image-overlay"> <i class="fa fa-mail-forward circle-icon circle-main-color"></i> </span>
		    </div>
		    <div class="grid-content">
		    </div>
		  </a>
		</div>
	      </div>
	      <div class="col-md-3 col-sm-6">
		<div class="grid-item animate">
		  <a href="#">
		    <div class="grid-image">
		      <%= image_tag 'static/image02.jpg', class: 'img-responsive' %>
		      <span class="image-overlay"> <i class="fa fa-mail-forward circle-icon circle-main-color"></i> </span>
		    </div>
		    <div class="grid-content">
		    </div>
		  </a>
		</div>
	      </div>
	      <div class="col-md-3 col-sm-6">
		<div class="grid-item animate">
		  <a href="#">
		    <div class="grid-image">
		      <%= image_tag 'static/image03.jpg', class: 'img-responsive' %>
		      <span class="image-overlay"> <i class="fa fa-mail-forward circle-icon circle-main-color"></i> </span>
		    </div>
		    <div class="grid-content">
		    </div>
		  </a>
		</div>
	      </div>
	      <div class="col-md-3 col-sm-6">
		<div class="grid-item animate">
		  <a href="#">
		    <div class="grid-image">
		      <%= image_tag 'static/image03.jpg', class: 'img-responsive' %>
		      <span class="image-overlay"> <i class="fa fa-mail-forward circle-icon circle-main-color"></i> </span>
		    </div>
		    <div class="grid-content">
		    </div>
		  </a>
		</div>
	      </div>
	    </div>
	    <hr>
	    <p class="center">
	      <a href="#">
		See all of our templates here
	      </a>
	    </p>
	  </div>
	</div>
      </div>
      <!-- end: WORKS CONTAINER -->
    </section>
    <section class="wrapper padding50">
      <!-- start: ABOUT US CONTAINER -->
      <div class="container">
	<div class="row">
	  <div class="col-sm-6">
	    <h2 style="text-align: right;">About Us</h2>
	    <hr class="fade-left">
	    <p style="text-align: right;">
	      Something Here
	    </p>
	    <p style="text-align: right;">
	      Something Here
	      <br>
	      Something Here
	      <br>
	      Something Here
	      <br>
	      Something Here
	      <br>
	      Something Here
	    </p>
	    <hr class="fade-left">
	    <a href="#" class="btn btn-default pull-right"><i class="fa fa-info"></i> Learn more...</a>
	  </div>
	  <div class="col-sm-6">
	    <ul class="icon-list animate-group">
	      <li>
		<div class="timeline animate" data-animation-options='{"animation":"scaleToBottom", "duration":"300"}'></div>
		<i class="clip-stack-empty circle-icon circle-teal animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'></i>
		<div class="icon-list-content">
		  <h4>Something Here</h4>
		  <p>
		    Something Here
		  </p>
		</div>
	      </li>
	      <li>
		<div class="timeline animate" data-animation-options='{"animation":"scaleToBottom", "duration":"300", "delay": "300"}'></div>
		<i class="clip-paperplane circle-icon circle-green animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'></i>
		<div class="icon-list-content">
		  <h4>Something Here</h4>
		  <p>
		    Something Here
		  </p>
		</div>
	      </li>
	      <li>
		<div class="timeline animate" data-animation-options='{"animation":"scaleToBottom", "duration":"300", "delay": "300"}'></div>
		<i class="clip-droplet circle-icon circle-bricky animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'></i>
		<div class="icon-list-content">
		  <h4>Something Here</h4>
		  <p>
		    Something Here
		  </p>
		</div>
	      </li>
	    </ul>
	  </div>
	</div>
      </div>
      <!-- end: ABOUT US CONTAINER -->
    </section>
    <section class="wrapper wrapper-grey padding50">
      <!-- start: PORTFOLIO CONTAINER -->
      <div class="container">
	<div class="row">
	  <div class="col-sm-6">
	    <div class="flexslider" data-plugin-options='{"controlNav":false,"sync": "#carousel"}'>
	      <ul class="slides">
		<li>
		  <a class="group1" href="<%= image_path('static/image01.jpg') %>" title="Caption here">
		    <%= image_tag 'static/image01.jpg' %>
		    <span class="image-overlay"> <i class="clip-expand circle-icon circle-main-color"></i> </span>
		  </a>
		</li>
		<li>
		  <a class="group1" href="<%= image_path('static/image02.jpg') %>" title="Caption here">
		    <%= image_tag 'static/image02.jpg' %>
		    <span class="image-overlay"> <i class="clip-expand circle-icon circle-main-color"></i> </span>
		  </a>
		</li>
		<li>
		  <a class="group1" href="<%= image_path('static/image03.jpg') %>" title="Caption here">
		    <%= image_tag 'static/image03.jpg' %>
		    <span class="image-overlay"> <i class="clip-expand circle-icon circle-main-color"></i> </span>
		  </a>
		</li>
		<li>
		  <a class="group1" href="<%= image_path('static/image04.jpg') %>" title="Caption here">
		    <%= image_tag 'static/image04.jpg' %>
		    <span class="image-overlay"> <i class="clip-expand circle-icon circle-main-color"></i> </span>
		  </a>
		</li>
		<li>
		  <a class="group1" href="<%= image_path('static/image05.jpg') %>" title="Caption here">
		    <%= image_tag 'static/image05.jpg' %>
		    <span class="image-overlay"> <i class="clip-expand circle-icon circle-main-color"></i> </span>
		  </a>
		</li>
	      </ul>
	    </div>
	    <div id="carousel" class="flexslider animate-group" data-plugin-options='{"itemWidth": 120, "itemMargin": 5}'>
	      <ul class="slides">
		<li>
                  <%= image_tag 'static/image01.jpg', class: 'animate', data: { :'animation-options' => '{"animation":"fadeIn", "duration":"600"}' } %>
		</li>
		<li>
                  <%= image_tag 'static/image02.jpg', class: 'animate', data: { :'animation-options' => '{"animation":"fadeIn", "duration":"600"}' } %>
		</li>
		<li>
                  <%= image_tag 'static/image03.jpg', class: 'animate', data: { :'animation-options' => '{"animation":"fadeIn", "duration":"600"}' } %>
		</li>
		<li
                  <%= image_tag 'static/image04.jpg', class: 'animate', data: { :'animation-options' => '{"animation":"fadeIn", "duration":"600"}' } %>
		</li>
		<li>
                  <%= image_tag 'static/image05.jpg', class: 'animate', data: { :'animation-options' => '{"animation":"fadeIn", "duration":"600"}' } %>
		</li>
	      </ul>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="section-content">
	      <h2>Why Fuck Wit  Us</h2>
	      <hr class="fade-right">
	      
	      </ul>
	      <hr class="fade-right">
	      <a href="#" class="btn btn-default"><i class="fa fa-info"></i> Learn more...</a>
	    </div>
	  </div>
	</div>
      </div>
      <!-- end: PORTFOLIO CONTAINER -->
    </section>
    <section class="wrapper wrapper-grey">
      <!-- start: GENERIC CONTENT CONTAINER -->
      <div class="container">
	<div class="row">
	  <div class="col-sm-6">
	    <img src="assets/images/iphoneIpad-495x400.png" class="img-responsive animate-if-visible" data-animation-options='{"animation":"tada", "duration":"600"}'>
	  </div>
	  <div class="col-sm-6">
	    <h2>Something Here</h2>
	    <hr class="fade-right">
	    <p>
	      Something Here
	    </p>
	    <p>
	      Something Here
	    </p>
	    <p>
	      Something Here
	    </p>
	    <hr class="fade-right">
	    <a class="btn btn-default" href="#"><i class="fa fa-info"></i> Learn more...</a>
	  </div>
	</div>
      </div>
      <!-- end: GENERIC CONTENT CONTAINER -->
    </section>
    
    <section class="wrapper padding50">
      <!-- start: BLOG POSTS AND COMMENTS CONTAINER -->
      <div class="container">
	<div class="row">
	  
	  <div class="col-md-6">
	    <h2>What Client’s Say</h2>
	    <div class="row">
	      <div class="flexslider">
		<ul class="slides">
		  <li>
		    <div class="col-md-12">
		      <blockquote class="testimonial">
			<p>
			  Something Here
			</p>
		      </blockquote>
		      <div class="testimonial-arrow-down"></div>
		      <div class="testimonial-author">
			<div class="img-thumbnail img-thumbnail-small">
			  <img src="assets/images/avatar-1.jpg" alt="">
			</div>
			<p>
			  <strong>Something Here</strong><span>Something Here</span>
			</p>
		      </div>
		    </div>
		  </li>
		  <li>
		    <div class="col-md-12">
		      <blockquote class="testimonial">
			<p>
			  Something Here
			</p>
		      </blockquote>
		      <div class="testimonial-arrow-down"></div>
		      <div class="testimonial-author">
			<div class="img-thumbnail img-thumbnail-small">
			  <img src="assets/images/avatar-2.jpg" alt="">
			</div>
			<p>
			  <strong>Something Here</strong><span>Something Here</span>
			</p>
		      </div>
		    </div>
		  </li>
		</ul>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <!-- end: BLOG POSTS AND COMMENTS CONTAINER -->
    </section>
</div>
<!-- end: MAIN CONTAINER -->
<!-- start: FOOTER -->
<footer id="footer">
  <div class="container">
    
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
	<div class="col-md-1">
	  <a class="logo" href="index.html">
	    <img src="assets/images/logo-header.png" width="119" height="71" alt="" border="0">	
	  </a>
	</div>
	<div class="col-md-7">
	  <p>
	    &copy; Copyright 2014
	</div>
	<div class="col-md-4">
	  <nav id="sub-menu">
	    <ul>
	      <li>
		<a href="#">
		  FAQ's
		</a>
	      </li>
	      <li>
		<a href="#">
		  Sitemap
		</a>
	      </li>
	      <li>
		<a href="#">
		  Contact
		</a>
	      </li>
	    </ul>
	  </nav>
	</div>
      </div>
    </div>
  </div>
</footer>
<a id="scroll-top" href="#"><i class="fa fa-angle-up"></i></a>
<!-- end: FOOTER -->
<!-- start: MAIN JAVASCRIPTS -->

<script type='text/javascript'>
  jQuery(document).ready(function() {
     Main.init();
     Index.init();
     $.stellar();
   });
</script>


